* {
    font-family: sans-serif;
    color: rgb(172, 172, 172);
}

body {
    background: rgb(167, 234, 241);
    
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-recap-products {
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 500px;
}

h1 {
    margin: 0;
    color: rgb(172, 172, 172);
}

.counter-products {
    color: rgb(172, 172, 172);
    font-size: 0.8rem;
    margin-top: 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    padding: 10px 0px 10px 0px;
    text-align: center;
}

td {
    padding: 5px 1px 5px 1px;
    text-align: center;
    width: 40px;
}

tr {
    border-bottom: 1px solid rgb(172, 172, 172);
}

tr:last-child {
    border-bottom: none;
    font-size: 1.2rem;
    height: 60px;
}

a {
    text-decoration: none;
    color: rgb(172, 172, 172);
    font-size: 0.8rem;
}

a:visited {
    color: rgb(172, 172, 172);
}

.total-gen {
    background: rgb(167, 234, 241);
    border: 1px solid rgb(167, 234, 241);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    color: whitesmoke;
    transition-duration: 0.2s;
    text-shadow: 0em 0em 0.2em rgba(0, 0, 0, 0.466);
    transition-duration: 0.2s;
}

.total-gen:hover {
    background: rgb(33, 244, 178);
    border: 1px solid rgb(33, 244, 178);
    cursor: default;
}

.delete-all {
    background: none;
    border: 1px solid rgb(239, 138, 138);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    transition-duration: 0.2s;
    color: rgb(239, 138, 138);
}

.delete-all:hover {
    background: rgb(239, 138, 138);
    color: white;
    cursor: pointer;
}

.delete-one {
    background: none;
    border: 1px solid rgb(239, 138, 138);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    transition-duration: 0.2s;
    color: rgb(239, 138, 138);
}

.delete-one:hover {
    background: rgb(239, 138, 138);
    color: white;
    cursor: pointer;
}

.add-qtt {
    color: rgb(33, 244, 178);
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.delete-qtt {
    color: rgb(239, 138, 138);
    background: none;
    border: none;
    font-size: 1.2rem;
}

.delete-qtt:hover {
    cursor: pointer;
}

.add-qtt {
    cursor: pointer;
}

td[colspan="3"] {
    text-align: center;
}